/* Unreal Engine 4 Sphinx theme Fonts */

/* 
  Online Web Fonts (http://www.onlinewebfonts.com)
  Font Copyright of respective owner, licensed by CC BY 3.0
*/
@font-face {
	font-family: 'Brutal_Regular';
	src: url('./brutal/BrutalType-Regular/BrutalType-Regular.eot'); /* IE9 Compat Modes */
	src: url('./brutal/BrutalType-Regular/BrutalType-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('./brutal/BrutalType-Regular/BrutalType-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	  url('./brutal/BrutalType-Regular/BrutalType-Regular.woff') format('woff'), /* Modern Browsers */
	  url('./brutal/BrutalType-Regular/BrutalType-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('./brutal/BrutalType-Regular/BrutalType-Regular.svg#BrutalType-Medium') format('svg'); /* Legacy iOS */
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  /* 
	Google Fonts (open-sans-regular - latin)
  */
  @font-face {
	font-family: 'OpenSans_Regular';
	font-style: normal;
	font-weight: 400;
	src: url('./open/OpenSans-Regular/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
	  url('./open/OpenSans-Regular/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('./open/OpenSans-Regular/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	  url('./open/OpenSans-Regular/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
	  url('./open/OpenSans-Regular/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('./open/OpenSans-Regular/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }