div.body {
	background-color: transparent;
	padding: 47px 72px;
	margin: 0;
	border: 0 solid setLightness(var(--clr-background), 94%);
	min-width: 0;
	max-width: none;
	width: calc(100% - 440px);

	@include breakpoint(max-xl) {
		padding: 10px 30px 30px;
		width: auto;
	}

	@include breakpoint(max-lg) {
		padding: 10px 30px 30px;
		width: auto;
	}
}

.bodywrapper {
	width: 100%;
	display: flex;
  flex-direction: column;
}

.section {
	padding-bottom: 1em;
	.section {
		padding-bottom: unset;
	}
}

@include breakpoint(max-xl) {
	.bodywrapper div.body div.section:first-of-type h1 {
		margin: -10px 0 0 -47px;
	}
}

$text-shadow: 0 2px 10px
	hsla(var(--clr-primary-h), var(--clr-primary-s), 0%, 0.75);

div.body div.section:first-of-type h1,
div.topic {
	width: 100%;
	background-color: transparent;
	background-image: -moz-linear-gradient(
		right,
		var(--clr-primary-gradient-start) 35%,
		var(--clr-primary-gradient-end) 85%
	);
	background-image: linear-gradient(
		to left,
		var(--clr-primary-gradient-start) 35%,
		var(--clr-primary-gradient-end) 85%
	);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: inline-block;
	font-size: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 72px;
	color: var(--clr-text-primary);
	margin: -47px 0 0 -72px;
	text-shadow: $text-shadow;

	@include breakpoint(max-sm){
		width: calc(100% + 47px);

		background-image: -moz-linear-gradient(
			right,
			var(--clr-primary-gradient-start) 5%,
			var(--clr-primary-gradient-end) 85%
		);
		background-image: linear-gradient(
			to left,
			var(--clr-primary-gradient-start) 5%,
			var(--clr-primary-gradient-end) 85%
		);
	}
}

@include breakpoint(max-xl) {
	.bodywrapper div.body div.section:first-of-type h1 {
		font-size: 1.675em;
		padding: 2em 47px;
	}
}

@include breakpoint(max-md) {
	.bodywrapper div.body div.section:first-of-type h1 {
		font-size: 1.675em;
		padding: 2em 47px !important;
	}
}

div.body div.section:first-of-type h1 a {
	color: var(--clr-text-primary);
}

.toctree-wrapper p.caption {
	font-weight: 600;
}

.section div.contents {
	background-image: none;
	filter: none;
	font-size: inherit;
	color: inherit;
	text-shadow: none;
	margin-left: 0;
	padding-left: 0;
}

div.topic {
	border: none;
	margin: 0;
	margin-left: -72px;
}

div.topic:not(.contents) p:not(.topic-title) {
	font-weight: normal;
	font-size: 0.55em;
	line-height: 1.375em;
	margin: 19px 0 0;
	color: var(--clr-text-primary);
	text-shadow: $text-shadow;
}

// Admonitions

div.admonition {
	padding: 27px 25px 27px 25px;
	margin: 0.5em 1em;
	border-radius: 0;
	overflow: hidden;
	position: relative;
}

.note,
.hint {
	border: solid 1px #e8d192;
	background-color: rgba(245, 240, 217, 0.75);
}

.tip,
.seealso {
	border: 1px solid #acd2ac;
	background-color: rgba(192, 255, 192, 0.25);
}

.warning,
.attention,
.error,
.danger,
.important {
	border: 1px solid #ecb7b7;
	background-color: rgba(255, 192, 192, 0.375);
}

.note,
.hint,
.warning,
.tip,
.seealso,
.attention,
.danger,
.error,
.important {
	.admonition-title {
		display: block;
		content: '';
		position: absolute;
		top: 5px;
		left: 10px;
		font-family: Brutal_Regular;
		font-weight: bold;
		letter-spacing: 3px;
		opacity: 0.75;
		line-height: 1.5em;
		text-transform: uppercase;
	}
}

/** Tables */

table {
	background-color: transparent;
	border-width: 0 !important;
	border-spacing: 0;
	width: 100%;
	margin: 1.5em 0 !important;
	font-size: 0.925em;

	@include breakpoint(max-xs) {
		table-layout: fixed;
	}
}

th {
	background-color: setLightness(var(--clr-background), 85%);
	color: var(--clr-text-background);
	padding: 13px 22px !important;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	line-height: 2.14;
	font-size: 1.125em;
}

td {
	border-top: 1px solid setLightness(var(--clr-background), 75%) !important;
	background-color: transparent;
	vertical-align: top;
	padding: 13px 22px !important;
	height: 47px;
}

/** lists **/

ul,
ol,
dl {
	margin: 0.75em 0 1.125em 2em;
	padding: 0 0;
	padding-left: 10px;
}

ol {
	list-style: decimal;
}

ul {
	list-style: square outside;
}

li {
	line-height: 2.5em;
	padding: 0 0;
}

ol ol ol,
ol ul ol,
ul ul ol,
ul ol ol {
	list-style: lower-roman;
}

ol li {
	padding: 0.375em 0;
}


// Classes,function and methods tables
dl {
	&.class, 
	&.function,
	&.attribute,
	&.method {
		@include breakpoint(max-sm){
			margin-left: 0;
			padding-left: 0;

			
			dd {
				margin-left: 10px;
				padding-left: 0;
				
				dl.field-list {
					grid-template-columns: none;
					margin-left: 0;
					padding: 0;
				}
			}
		}
		
		& > dt {
			border-bottom: 2px solid setAlpha(var(--clr-primary), 0.4);
			background-color: setAlpha(var(--clr-primary), 0.2);
		}
		
		dd { 
			dt {
				width: fit-content;
				border-bottom: 1px solid setAlpha(var(--clr-primary), 0.2);
				background-color: setAlpha(var(--clr-primary), 0.1);
			}

			em.property {
				color: setAlpha(var(--clr-primary), 0.7)
			}
		}

		dt {
			padding-left: 5px;
		}
		
		dl.field-list {
			dt {
				border: 0;
				background-color: transparent;
			}
		}
	}

	.sig-param {
		color: setAlpha(var(--clr-primary), 0.7)
	}

	.property {
		color: var(--clr-secondary);
		padding-right: 5px;
	}

	
}

/** Code **/
div.highlight {
	padding-left: 0.75em;
}

table.highlighttable {
	td {
		height: auto;
		padding: 0 !important;
	}

	div.linenodiv {
		padding-left: 5px;
	}
}

/** flexbox utilities **/
.break-column {
	flex-basis: 100%;
	width: 0;
}

.break {
	flex-basis: 100%;
	height: 0;
}

/*#region Headerlink */

:not(h1) a.headerlink {
	font-size: 12px;
}

a.headerlink {
	text-decoration: none;
	font-size: 14px;
}

@include headings('div.code-block-caption', 'caption', 'p.caption', 'dt') {
	&:hover > a.headerlink {
		svg{
			visibility: visible;
		}
	}

	& > a.headerlink {
		visibility: hidden !important;

		&::after {
			font-family: 'Font Awesome 5 Free';
			content: '\f0c1';
			display: none;
			font-weight: 900;
		}

		svg {
			display: inline-block;
		}
	}

	// &:hover > a.headerlink {
	// 	display: none;
	// }
}
/*#endregion Headerlink */
