
body {
  background-color: var(--clr-background);
  margin: 0;
  font-size: 13px;
  font-family: OpenSans_Regular, Verdana, Arial, sans serif;
  color: var(--clr-text-background);
  line-height: 1.75em;
  padding: 0;
  // visibility: hidden;
}

div.documentwrapper {
  position: relative;
  display: grid;
  grid-template-columns: 350px 1px 1fr;
  // display: flex;
  // flex-direction: row;

  @include breakpoint(max-md){
    grid-template-columns: unset;
  }
}



@include headings('.toctree-wrapper p.caption') {
	font-size: 1.5em;
  overflow: hidden;
  font-family: Brutal_Regular, Verdana, Arial, sans serif;
  box-sizing: border-box;
}


h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1.25em;
}

@include headings_at(4,7){
  font-size: 1.15em;
}


@include headings('dt'){
	& > a {
		color: var(--clr-text-background);
		text-decoration: none;
	}
	& > a:visited {
		color: var(--clr-text-background-dark);
		text-decoration: none;
	}
}


@include headings_at(2,7){
	padding: 4px 6px 5px;
  font-weight: bold;
  clear: both;
  margin-left: -6px;
  margin-right: -6px;
}

p {
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 20px;
}


a {
  color: setLightness(var(--clr-text-background), 19%);
	&:visited {
    background-color: transparent;
    text-decoration: underline;
	}
}


* {
  scrollbar-width: thin;
	scrollbar-color: var(--clr-scrollbar-thumb) var(--clr-scrollbar);
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--clr-scrollbar-thumb);
		border-radius: 6px;
	}
}

.full-width {
  width: 100%;
}