div.search_page_wrapper {
  position: absolute;
  top: 54px;
  bottom: 0;
  left: 0;
  right: 0;
  grid-template-columns: unset;
}

div.search_page {
  display: flex;
  flex-direction: column;
  // align-items: center;

  div.document {
    display: flex;
    flex-direction: row;
  }

  div.body {
    align-self: center;
  }

  h1 {
    font-size: 29px;
    font-weight: 600;
    line-height: 1.1;
    font-family: Brutal_Regular, 'Open Sans', arial;
    margin: 0.67em 0;
    margin-top: 22px;
    margin-bottom: 11px;
  }

  form {
    background-color: var(--clr-secondary);
    height: 45px;
    padding-left: 2px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: 0px;

    input[type='text'] {
      display: block;
      width: calc(100% - 108px);
      height: 41px;
      border: 0;
      padding: 0px 0px 0px 1em;
      margin: 2px 0px;
      outline: none;
    }

    input[type='submit'] {
      position: absolute;
      height: 100%;
      width: 100px;
      right: 0px;
      top: 0px;
      font-weight: 500;
      text-align: center;
      color: var(--clr-text-secondary);
      font-size: 1.1em;
      padding: 0px;
      border: 0;
      transition: background 0.2s ease-in-out 0s;
      outline: none;
      background: transparent;
      font-family: OpenSans, sans-serif;
      font-size: 1.7em;
      cursor: pointer;
    }
  }

  div.body {
    width: unset;
    padding: 1.25em 0px;
    max-width: 1200px;
    padding-right: 15px;
		padding-left: 15px;
		
		@include breakpoint(min-md){
			width: 750px;
		}

		@include breakpoint(min-lg){
			width: 970px;
		}

		@include breakpoint(min-xl){
			width: 1170px;
		}
  }

  div.body li {
		position: relative;
		background-image: none;

    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f07c';
      display: none;
    }
    
    svg {
      position: absolute;
      left: 0;
      top: 0.8rem;
    }
		
		a:hover{
			color: var(--clr-secondary)
		}
  }
}
