{% macro rendernav() %}
	{% for link in theme_quicklinks %}
		<li role="menuitem">
			<a href="{{link['link']}}"><p>{{link['name']}}</p></a>
		{% if 'subnav' in link %}
			<ul class="uedoc-nav-submenu">
				{% for sublink in link['subnav'] %}
				<li role="menuitem">
					<a href="{{sublink['link']}}"><p>{{sublink['name']}}</p></a>
				</li>
				{% endfor %}
			</ul>
		{% endif %}
		</li>
	{% endfor %}
{% endmacro %}

<div id="head" class="uedoc-header">
	{% block uedoc_logo %}
		{%- if logo %}
			<a href="{{ pathto(master_doc)|e }}">
				<img class="logo" src="{{ pathto('_static/' + logo, 1)|e }}" alt="Logo"/>
			</a>
		{%- else %}
			{%- if theme_no_logo == 'false' %}
				<a href="{{pathto(master_doc)}}"><div class="logo uedoc-logo"></div></a>
			{% endif %}
		{% endif %}
	{% endblock uedoc_logo %}
	{% block uedoc_title %}
		<div class="uedoc-title"><a href="{{pathto(master_doc)}}">{{docstitle|upper}}</a></div>
	{% endblock uedoc_title %}
	{% if (theme_quicklinks | length) != 0 %}
		<div class="hamburger-nav header-button"><i class="fas fa-bars"></i></div>
	{% endif %}
	<div id="nav-menu">
		<div class="nav-menu-wrapper">
			{% block uedoc_header_nav %}{% endblock uedoc_header_nav %}
			<div class="uedoc-quicklinks-wrapper">
				<ul id="quicklinks" class="uedoc-quicklinks">
					{{rendernav()}}
				</ul>
			</div>
			{% block uedoc_header_right %}
			{% if theme_header_button %}
				<div class="header-button">
					<a href="{{theme_header_button['link']}}">
						<span>{{theme_header_button['name']}}</span>
					</a>
				</div>
			{% endif %}
			{% endblock uedoc_header_right %}
		</div> 
	</div>
</div>